:root {
  /* Modo claro */
  --teclado-bg-color: #ffff;
  --teclado-key-bg-color: #f5f5f5;
  --teclado-key-active-bg-color: #0000004d;
  --teclado-text-color: #000000;
  /* Modo oscuro */
  --dark-teclado-bg-color: #1a1a1a;
  --dark-teclado-key-bg-color: #000000;
  --dark-teclado-key-active-bg-color: #009b935a;
  --dark-teclado-text-color: #ffffff;
}

body.dark {
  --teclado-bg-color: var(--dark-teclado-bg-color);
  --teclado-key-bg-color: var(--dark-teclado-key-bg-color);
  --teclado-key-active-bg-color: var(--dark-teclado-key-active-bg-color);
  --teclado-text-color: var(--dark-teclado-text-color);
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--teclado-bg-color);
  padding: 30px;
  border-radius: 20px;
  width: 750px;
  margin:0px 0px 0px;
}

.contenedorTeclado{
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 0%;
  
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  margin: 3px;
  border: 0px;
  border-radius: 9px;
  background-color: var(--teclado-key-bg-color);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  color: var(--teclado-text-color);
  /*box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);*/

}

.key:active {
  background-color: var(--teclado-key-active-bg-color);
}

.braille-symbol {
  font-size: 30px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.ascii-symbol {
  font-size: 14px;
  line-height: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: "Poppins", sans-serif;
}
