/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    min-height: 100vh;
  }
  
  body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  
  body.dark {
    --primary-color: #356aff;
    --bg-color: #000000;
    --light-bg-color: #333;
    --text-color: #fff;
    --light-text-color: #cdccd1;
    --primary-text-color: #fff;
    --color-buttom: #1A1A1A;
  }
  
  @media (max-width: 800px) {
    .container {
      width: 100%;
      margin-top: 20px;
      flex-direction: column;
    }
    .container .card {
      width: 100%;
    }
    .container .card .from {
      margin-right: 0;
    }
    .container .card .to {
      margin-left: 0;
    }
    .container .card .from,
    .container .card .to {
      flex-direction: column;
    }
  
    .swap-position {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .swap-position:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
    .swap-position ion-icon {
      transform: rotate(90deg);
    }
  }